.hidden {
  display: none;
}
.form-group {
  float: left;
  padding: 0 10px;
}
.section {
  margin: 20px 0;
}
.chartSettings button {
  margin: 10px;
}
.load-chart-section {
  margin-top: 20px;
  .chart-selection-options {
    button {
      margin: 20px;
      float: left;
    }
  }
}
.chart-selection {
  margin-top: 20px;
}
.chart-selection-options .save-chart-json {
  margin-top: 20px;
}
.no-user-charts,
.save-chart-json {
  margin-top: 20px;
}
.addPointLabels1,
.addBarLabels1,
.addBarLegend1,
.addAxisTitle {
  display: none;
}
